ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title {
  font-size: 2rem;
}

body {
  background: black;
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0;
  background: #222;
  padding: 1rem;
}

h3:hover {
  cursor: pointer;
}

p,
ol:not(:first-child),
ul:not(:first-child),
iframe {
  display: block;
  margin: 1rem 0;
}

ol:first-child {
  padding-left: 0;
}

ol[start] {
  padding-left: 0;
  margin: 0;
}

.siblings > * {
  padding-left: 1rem;
}

.siblings > iframe {
  padding-left: 0;
  margin-left: 1rem;
}

.siblings p:last-child,
.siblings ol:last-child h3 {
  margin-bottom: 0;
}

span,
p:empty {
  display: none;
}
