* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  background: black;
}

.accordion {
  margin: 0 auto;
  max-width: 30rem;
}

.title {
  color: white;
  font-size: 1.25rem;
}

.youtube,
p,
ol:not(:first-child),
ul:not(:first-child) {
  display: block;
  margin: 1rem 0;
}

ol > li a {
  display: block;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol[start] {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

ol:first-child {
  padding-left: 0;
  padding-right: 0;
}

h3 {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  background: #121517;
  text-transform: lowercase;
}

h3 strong {
  display: block;
}

h3 strong::first-letter {
  text-transform: uppercase;
}

h3:hover {
  cursor: pointer;
  color: white;
}

h3 strong {
  font-weight: normal;
  font-style: italic;
}

.siblings ol + ul,
.siblings ol + .youtube {
  margin-top: -1rem;
}

.siblings > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.siblings p:last-child,
.siblings ol:last-child h3 {
  margin-bottom: 0;
}

span,
p:empty {
  min-height: 0 !important;
  height: 0 !important;
  display: none !important;
}

.dignity {
  font-style: italic;
}

a:link {
  text-decoration: none;
  text-transform: lowercase;
}

a::first-letter {
  text-transform: uppercase;
}
