@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-display: optional;
  background: white;
}

small {
  line-height: 1;
  max-width: 75%;
}

nav.container-fluid {
  background: #eee;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  position: sticky;
  top: 1rem;
  z-index: 3;
  margin-top: 1rem;
  transform-style: preserve-3d;
  box-shadow: 0 15px 25px 5px rgba(0, 0, 0, 0.2);
  &::before {
    position: absolute;
    content: "";
    top: -1rem;
    left: 0;
    right: 0;
    height: 5rem;
    z-index: 2;
    background: white;
    transform: translateZ(-10px);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  @media screen and (min-width: 40rem) {
    max-width: 30rem;
  }
  a {
    font-size: 2rem;
    word-break: break-all;
  }
}

.accordion {
  min-height: 31.5625rem;
}

.accordion,
.page {
  margin: 0 auto;
  max-width: 30rem;
}

.title {
  font-size: 1.25rem;
  color: black;
}

.youtube,
p,
ol:not(:first-child) {
  display: block;
  margin: 1rem 0;
}

ul {
  &:not(:first-child) {
    display: block;
    margin: 1rem 0;
  }

  > li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ol {
  > li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  &[start] {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &:first-child {
    padding-left: 0;
    padding-right: 0;
  }
}

h3 {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  background: #eee;
  text-transform: lowercase;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    color: #666;
  }

  strong {
    display: block;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  strong {
    font-weight: normal;
    font-style: italic;
  }
}

h2 {
  line-height: 1 !important;
}

.siblings {
  ol + {
    ul,
    .youtube {
      margin-top: -1rem;
    }
  }

  > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  p:last-child,
  ol:last-child h3 {
    margin-bottom: 0;
  }
}

// span,
// p:empty {
//   min-height: 0 !important;
//   height: 0 !important;
//   display: none !important;
// }

.dignity {
  font-style: italic;
}

a {
  &:link {
    text-decoration: none;
    text-transform: lowercase;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

h1,
.featured {
  color: black;
}

.lecturers {
  margin: 1rem auto;
  max-width: 30rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @media screen and (min-width: 576px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  &__card {
    // transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0.4rem;
    background: #eee;
    border: 1px solid silver;
    min-height: 7rem;
    &:hover {
      .text {
        color: #777 !important;
      }
      img {
        filter: grayscale(1);
      }
    }

    img {
      border-radius: 0;
      object-fit: contain;
      min-height: 7rem;
      max-height: 7rem;
      transition: filter 0.4s ease;
    }
  }
}

.text {
  position: relative;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.4s ease;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.15);
}

.bg-dark {
  color: black !important;
  background: white !important;
}

.text-secondary {
  color: black !important;
}

code,
a.text-success {
  color: #007bff !important;
  &:hover,
  &:focus,
  &:active {
    color: darken(#007bff, 15%) !important;
  }
}

.dark-mode {
  background: black;
  nav {
    background: #333;
    box-shadow: 0 25px 25px 5px rgba(0, 0, 0, 0.75);
    &.container-fluid {
      &::before {
        background: black;
      }
    }
    a {
      color: #eee;
      &:hover,
      &:focus,
      &:active {
        color: darken(#eee, 35%);
      }
    }
  }
  .accordion {
    background: transparent;
  }
  h1,
  .title,
  .featured {
    color: white;
  }
  h3 {
    color: #ccc;
    background: #111;

    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }
  .bg-dark {
    color: #6c757d !important;
    background: #222 !important;
  }
  .text-secondary {
    color: #ccc !important;
  }
  .lecturers {
    &__card {
      background: #222;
      border-color: #444;
      &:hover .text {
        color: white !important;
      }
    }
  }
  .text {
    background: black;
  }
}
