body {
  background: black;
}

.title {
  color: white;
  font-size: 1.25rem;
}

.youtube,
p,
ol:not(:first-child),
ul:not(:first-child) {
  display: block;
  margin: 1rem 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol[start] {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

ol:first-child {
  padding-left: 0;
  padding-right: 0;
}

a {
  text-transform: capitalize;
}

a:link {
  text-decoration: none;
}

h3 {
  margin: 0;
  padding: 1rem;
  font-size: 1.25rem;
  background: #121517;
  text-transform: capitalize;
}

h3:hover {
  cursor: pointer;
  color: white;
}

h3 strong {
  font-weight: normal;
}

.siblings > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.siblings p:last-child,
.siblings ol:last-child h3 {
  margin-bottom: 0;
}

span,
p:empty {
  min-height: 0 !important;
  height: 0 !important;
  display: none !important;
}
